/* For styling the rendered Markdown */

#rendered-md blockquote {
    opacity: 1 !important;
}
	
#rendered-md .details-box-inner ~ * {
	margin: 0 !important;
	padding: 0 !important;
}
#rendered-md .details-box-inner {
	margin: 20px !important;
}
#rendered-md .details-box {
    overflow: hidden;
	border: 4px solid lightgray;
    border-radius: 20px;
/*     box-shadow: 0 0 10px; */
}
#rendered-md .details-box ul {
    margin-left: 1.8rem !important;
}
#rendered-md .details-box summary {
	background-color: lightgray;
	margin: 0 !important;
	padding: 10px 20px !important;
}

.h1a {
    font-size: 2em;
    font-weight: bold;
}
.h2a {
    font-size: 1.5em;
    font-weight: bold;
}
.h3a {
    font-size: 1.17em;
    font-weight: bold;
}

.clr1 { border-color: #a8e6cf !important; }
.clr1 summary { background-color: #a8e6cf !important; }
.clr2 { border-color: #dcedc1 !important; }
.clr2 summary { background-color: #dcedc1 !important; }
.clr3 { border-color: #ffd3b6 !important; }
.clr3 summary { background-color: #ffd3b6 !important; }
.clr4 { border-color: #ffaaa5 !important; }
.clr4 summary { background-color: #ffaaa5 !important; }
.clr5 { border-color: #ff8b94 !important; }
.clr5 summary { background-color: #ff8b94 !important; }
