/* For styling the rendered Markdown */

p,ul,li {
    margin: 0 !important;
}
ul {
    margin-left: 1.8rem !important;
}

blockquote {
    opacity: 1 !important;
    border: none;
}

.details-box {
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 10px;
    margin: 10px 0;
    margin: 20px;
}
.details-box * {
    padding: 0 10px;
}

.h1a {
    font-size: 2em;
    font-weight: bold;
}
.h2a {
    font-size: 1.5em;
    font-weight: bold;
}
.h3a {
    font-size: 1.17em;
    font-weight: bold;
}

.clr1 { background-color: #a8e6cf; }
.clr2 { background-color: #dcedc1; }
.clr3 { background-color: #ffd3b6; }
.clr4 { background-color: #ffaaa5; }
.clr5 { background-color: #ff8b94; }
